<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ecommsolvers_create_users_from_csv" xsi:type="object">Ecommsolvers\ImportCustomers\Console\Command\CreateUsersFromCsvCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Ecommsolvers\ImportCustomers\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ecommsolvers\ImportCustomers\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Logger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Ecommsolvers\ImportCustomers\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
